@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@300&display=swap');

.heading {
    text-align: center;
    font-family: 'Big Shoulders Inline Text', cursive;
    margin-top: 3rem;
}

.heading h1 {
    font-size: 4rem;
}

.italic {
    font-style: italic;
}

.secondary-color {
    color: #f39a24;
}
