@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@300&display=swap');

.input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #f5b461;
    margin: 3rem 0 0.5rem 0;
    font-size: 2rem;
    transition: padding 0.5s ease;
}

.input:focus {
    outline: none;
    padding: .5rem;
}

.submitBtn {
    background-color: #f5b461;
    padding: .5rem 1rem;
    border: none;
    transition: background .5s ease;
    font-family: 'Big Shoulders Inline Text', cursive;
}

.submitBtn:hover {
    cursor: pointer;
    background: #99a8b2;
}